# discord
discord.py
python-dotenv
google-api-python-client
# data
emoji
langid
jieba
beautifulsoup4
opencc-python-reimplemented
pandas
# model
# KeyBERT
# hdbscan
datasets
--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
transformers[torch]
# -f https://download.pytorch.org/whl/cu128
sentence-transformers